
Burger Demo/Temp/UnityLockfile
Burger Demo/Library/Collab/CollabSnapshot_123322cf-2398-4481-9ffe-6473ef888772.txt
Burger Demo/Library/shadercompiler-UnityShaderCompiler.exe0.log
Burger Demo/Library/shadercompiler-UnityShaderCompiler.exe0.log
*.log
